@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap');

.main{
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background: rgb(27, 27, 43);
    height: 550px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgb(101, 101, 101);
}
.top{
    position: relative;
    height: fit-content;
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#editor{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 5px;
    /* overflow-y: scroll; */
    min-height: 490px;
    max-height: 490px;
    outline: none;
}
.compile{
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: 0px;
    border-radius: 5px;
}
.compile-btn{
    position: absolute;
    background-color: green;
    color: white;
    border: 0px;
    height: 100%;
    width: 80px;
    right: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}